<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Головна</title>
        {{ block("styles", "./bootstrap/styles.twig") }}
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">No posts yet.</h1>
              <p class="lead">If you see this text then author haven't posted anything.</p>
            </div>
          </div>
        {{ block("scripts", "./bootstrap/scripts.twig") }}
    </body>
</html>
